<?xml version="1.0" encoding="utf-8"?>
<Settings>
	<Groups>
		<!-- Example xml structure for custom jobs, you can create as many groups with jobs as you want here -->
    <Group name="IDM - BUILDS">
      <Jobs>
        <Job id="IdManagement_AuthenticationServiceBuild" />
        <Job id="IdManagement_EmailQueueServiceBuild" />
        <Job id="IdManagement_IdentityGatewayBuild" />
        <Job id="IdManagement_IdmInternalToolsUi" />
        <Job id="IdManagement_IdmRelyingPartiesBuild" />
        <Job id="IdManagement_ProductAccessBuild" />
        <Job id="IdManagement_UserProfileServiceBuild" />
      </Jobs>
    </Group>
    <Group name="IDM - DEPLOYMENTS">
      <Jobs>
        <Job id="IdManagement_AuthenticationServiceDeploy" />
        <Job id="IdManagement_EmailQueueServiceDeploy" />
        <Job id="IdManagement_IdentityGatewayDeploy" />
        <Job id="IdManagement_IdmInternalToolsDeploy" />
        <Job id="IdManagement_IdmRelyingPartiesDeploy" />
        <Job id="IdManagement_ProductAccessDeploy" />
        <Job id="IdManagement_UserProfileServiceDeploy" />
      </Jobs>
    </Group>
    <Group name="IDM - SMOKE TESTS">
      <Jobs>
        <Job id="IdManagement_IdmApiAutomatedTests" />
        <Job id="IdManagement_IdmUiAutomatedTests" />
      </Jobs>
    </Group>
    <Group name="IDM - FULL SUITE TESTS">
      <Jobs>
        <Job id="IdManagement_IdmApiAutomatedTestsFull" />
        <Job id="IdManagement_IdmUiAutomatedTestsFull" />
        <Job id="IdManagement_IdmApiAutomatedTestsFullAws" />
        <Job id="IdManagement_IdmUiAutomatedTestsFullAwsStage" />
      </Jobs>
    </Group>
 </Groups>
</Settings>